<nav class="header__local__primary-navigation">
  <ul class="nav flex-column flex-lg-row align-items-start align-items-lg-center mb-0">
    <li class="nav-item">
      <a class="nav-link" href="https://docs.ecosyste.ms">Documentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/commercial">Commercial</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/api">API</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://blog.ecosyste.ms/update/2022/06/01/ecosytems-identify-secure-and-sustain.html">About</a>
    </li>
  </ul>
  
</nav><hr class="d-lg-none my-3">