<div class="breadcrumb-section py-3 mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
      </ol>
    </nav>
  </div>
</div>

<div class="project-header purple-grad-bg pt-4 pb-4 mb-5">
  <div class="container">
    <h1 class="display-1 extra-bold mb-3">Complete your order</h1>
    <p class="lead">Thank you for choosing ecosyste.ms</p>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-12 col-lg-7">
    <form action="blah" class="pe-lg-5">
      <fieldset class="mb-5" aria-labelledby="details-heading">
        <legend id="details-heading" class="h3 mb-4 fw-bold">Your details</legend>

        <div class="mb-4">
          <label for="full_name" class="form-label">Your name</label>
          <input type="text"
                class="form-control border-primary-subtle"
                id="full_name"
                name="full_name"
                autocomplete="name"
                required>
        </div>

        <div class="mb-1">
          <label for="email" class="form-label">Email</label>
          <input type="email"
                class="form-control border-primary-subtle"
                id="email"
                name="email"
                autocomplete="email"
                required>
        </div>
      </fieldset>
      <hr class="my-4" aria-hidden="true" role="presentation">
      <fieldset class="mb-5" aria-labelledby="address-heading">
        <legend id="address-heading" class="h3 mb-4 fw-bold">Billing adress</legend>

       
      </fieldset>
      <hr class="my-4" aria-hidden="true" role="presentation">
      <fieldset class="mb-5" aria-labelledby="payment-heading">
        <legend id="payment-heading" class="h3 mb-4 fw-bold">Payment</legend>

       
      </fieldset>
      <hr class="my-4" aria-hidden="true" role="presentation">
      <fieldset class="mb-5" aria-labelledby="agree-heading">
        <legend id="agree-heading" class="h3 mb-4 fw-bold">Agreement</legend>
         <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkAgree">
          <label class="form-check-label" for="checkAgree">
            I agree to the terms and privacy policy
          </label>
         
        </div>           
        <div>
          <input type="submit" class="btn btn-primary rounded-pill mt-4" value="Pay now" />
          </div>
      </fieldset>
    </form>
    </div>
    <div class="col-12 col-lg-5">
    <aside class="well mb-4" aria-labelledby="order-summary-title">
        <div class="card-body p-3 p-md-4">
          <h2 id="order-summary-title" class="h4 mb-4">Review your order</h2>

          <p class="small mb-0">Your current plan</p>
          <p class="fw-bold text-secondary-emphasis fs-4">ecosystems Free</p>
          <div class="d-md-flex justify-content-between align-items-center mb-2">
            <p class="small mb-0">1 year recurring</p>
          </div>

          <p class="small mb-0 mt-5">Your new plan</p>
          <p class="fw-bold text-primary-dark fs-4">ecosystems Developer</p>
          <div class="d-md-flex justify-content-between align-items-center mb-2">
            <p class="small mb-0">1 year recurring</p>
            <a href="#" class="small">Change</a>
          </div>

        </div>
      </aside>
      <aside class="well" aria-labelledby="payment-summary-title">
        <div class="card-body p-3 p-md-4">

          <h2 id="payment-summary-title" class="h4 mb-4">Payment summary</h2>

          <!-- Top facts: plan, duration, unit price -->
          <dl class="row gy-2 mb-4">
            <dt class="col-6 col-md-4 fw-normal">Plan</dt>
            <dd class="col-6 col-md-8 mb-0 fw-bold text-end">Developer</dd>

            <dt class="col-6 col-md-4 fw-normal">Duration</dt>
            <dd class="col-6 col-md-8 mb-0 fw-bold text-end">Annual</dd>

            <dt class="col-6 col-md-4 fw-normal">Price</dt>
            <dd class="col-6 col-md-8 mb-0 fw-bold text-end">
              <data value="500">$500</data> per month
              <span class="visually-hidden">US dollars</span>
            </dd>
          </dl>

          <hr class="my-4" aria-hidden="true" role="presentation">

          <!-- Totals -->
          <dl class="row gy-2 mb-4">
            <dt class="col-6 col-md-4 fw-normal">Total</dt>
            <dd class="col-6 col-md-8 mb-0 fw-bold text-end">
              <data value="6000">$6,000</data>
            </dd>

            <dt class="col-6 col-md-4 fw-normal">Tax</dt>
            <dd class="col-6 col-md-8 mb-0 fw-bold text-end">
              <data value="1200">$1,200</data>
            </dd>

            <dt class="col-6 col-md-4 text-body-emphasis">To pay today</dt>
            <dd class="col-6 col-md-8 mb-0 fw-bold text-end">
              <data value="7200">$7,200</data>
            </dd>
          </dl>

          <p class="small">
            We’ll take payment <strong>today</strong>, and your first recurring payment will
            happen <strong><time datetime="2026-10-20">20th October 2026</time></strong>.
            This is a little space to write any notes related to this purchase that might be necessary.
          </p>
        </div>
      </aside>
    </div>
  </div>

</div>